---
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" transition:name="fade" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <script is:inline>
      const html = document.documentElement;
      const theme = html.getAttribute("data-theme");
      const themeKey = "theme-preference";
      const toggleTheme = () => {
        const currentTheme = html.getAttribute("data-theme");
        const newTheme = currentTheme === "dark" ? "light" : "dark";
        html.setAttribute("data-theme", newTheme);
        localStorage.setItem(themeKey, newTheme);
      };

      try {
        const storedTheme = localStorage.getItem(themeKey);
        if (
          storedTheme &&
          (storedTheme === "dark" || storedTheme === "light")
        ) {
          if (storedTheme !== theme)
            html.setAttribute("data-theme", storedTheme);
        }
      } catch {
        console.warn("No se pudo acceder a localStorage");
      }
      window.toggleTheme = toggleTheme;
    </script>
    <ClientRouter />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
