---
import AppLayout from '@/layouts/AppLayout.astro';
import { CreateNewDevice } from '@/components/devices/ButtonNewDevice';
const userToken = Astro.cookies.get('sb-access-token')?.value || '';
const url = 'https://backend.diego-sarq.workers.dev/devices';
import { DeviceList } from '@/components/devices/DeviceList';
---
<AppLayout title="Dispositivos IoT">
  <div class="max-w-7xl mx-auto">
    <!-- 1. HEADER PRINCIPAL -->
    <header class="flex justify-between items-center mb-8">
      <div>
        <h1 class="text-4xl font-bold text-base-content">Dispositivos</h1>
        <p class="text-base-content/60 mt-1">Gestiona tus sensores de temperatura</p>
      </div>
    <CreateNewDevice userToken={userToken} url={url} client:load />
    </header>

    <DeviceList userToken={userToken} url={url} client:load />
    
  </div>
</AppLayout>

